In [1]:
import numpy as np  #mathametical operations
import matplotlib.pyplot as mpt #ploting map
import pandas as pd # importing and managing the datasets

In [2]:
data_set = pd.read_csv('Data.csv') #read datasets

In [3]:
print(data_set) #print datasets

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes
5   France  35.0  58000.0       Yes
6    Spain   NaN  52000.0        No
7   France  48.0  79000.0       Yes
8  Germany  50.0  83000.0        No
9   France  37.0  67000.0       Yes

In [4]:
x=data_set.iloc[:,:-1].values   #for extracting data
print(x)

[['France' 44.0 72000.0]
 ['Spain' 27.0 48000.0]
 ['Germany' 30.0 54000.0]
 ['Spain' 38.0 61000.0]
 ['Germany' 40.0 nan]
 ['France' 35.0 58000.0]
 ['Spain' nan 52000.0]
 ['France' 48.0 79000.0]
 ['Germany' 50.0 83000.0]
 ['France' 37.0 67000.0]]

In [5]:
y=data_set.iloc[:,3].values #Here we have taken all the rows with the last column only. It will give the array of dependent variables. 
print(y)

['No' 'Yes' 'No' 'No' 'Yes' 'Yes' 'No' 'Yes' 'No' 'Yes']

In [6]:
from sklearn.impute import SimpleImputer
imputer= SimpleImputer(missing_values =np.NaN, strategy='mean')  
imputer.fit(x[:, 1:3])  #fitting imputer object to the independent variables x
#x[:, 1:3]= SimpleImputer.transform(x[:, 1:3]) 
x[:, 1:3] = SimpleImputer.transform(imputer,x[:, 1:3])#replacing missing data with the calculated mean value 
print(x)

[['France' 44.0 72000.0]
 ['Spain' 27.0 48000.0]
 ['Germany' 30.0 54000.0]
 ['Spain' 38.0 61000.0]
 ['Germany' 40.0 63777.77777777778]
 ['France' 35.0 58000.0]
 ['Spain' 38.77777777777778 52000.0]
 ['France' 48.0 79000.0]
 ['Germany' 50.0 83000.0]
 ['France' 37.0 67000.0]]

Convert Text data in NUmeric data

In [7]:
#encoding catagorial data
#catagorial data
#for country variable
from sklearn.preprocessing import LabelEncoder
label_encoder_x=LabelEncoder()

#(x[:,0])=label_encoder_x.fit_transform(x[:0])
data_set['Country']=label_encoder_x.fit_transform(data_set['Country'])
#data_set.head(10)
data_set['Purchased']=label_encoder_x.fit_transform(data_set['Purchased'])
data_set.head(10)

   Country   Age   Salary  Purchased
0        0  44.0  72000.0          0
1        2  27.0  48000.0          1
2        1  30.0  54000.0          0
3        2  38.0  61000.0          0
4        1  40.0      NaN          1
5        0  35.0  58000.0          1
6        2   NaN  52000.0          0
7        0  48.0  79000.0          1
8        1  50.0  83000.0          0
9        0  37.0  67000.0          1

informamtion of dataset

In [8]:
data_set.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Country    10 non-null     int64
 1   Age        9 non-null      float64
 2   Salary     9 non-null      float64
 3   Purchased  10 non-null     int64
dtypes: float64(2), int64(2)
memory usage: 448.0 bytes

In [9]:
#for country variable 
#use dummy variables
from sklearn.preprocessing import LabelEncoder,OneHotEncoder
#label_encoder_x=LabelEncoder()
#data_set['Country']=label_encoder_x.fit_transform(data_set['Country'])
##encoding dummy variables
#one_hotcoder =OneHotEncoder([2])
#x=one_hotcoder.fit_transform(x).toarray()
enc=OneHotEncoder(drop='first')
enc_df=pd.DataFrame(enc.fit_transform(data_set[['Country']]).toarray())
data_set=data_set.join(enc_df)
data_set.head()

   Country   Age   Salary  Purchased    0    1
0        0  44.0  72000.0          0  0.0  0.0
1        2  27.0  48000.0          1  0.0  1.0
2        1  30.0  54000.0          0  1.0  0.0
3        2  38.0  61000.0          0  0.0  1.0
4        1  40.0      NaN          1  1.0  0.0

In [10]:
labeencoder_y=LabelEncoder()
y=labeencoder_y.fit_transform(y)
print(y)

[0 1 0 0 1 1 0 1 0 1]

In [11]:
print(data_set)

   Country   Age   Salary  Purchased    0    1
0        0  44.0  72000.0          0  0.0  0.0
1        2  27.0  48000.0          1  0.0  1.0
2        1  30.0  54000.0          0  1.0  0.0
3        2  38.0  61000.0          0  0.0  1.0
4        1  40.0      NaN          1  1.0  0.0
5        0  35.0  58000.0          1  0.0  0.0
6        2   NaN  52000.0          0  0.0  1.0
7        0  48.0  79000.0          1  0.0  0.0
8        1  50.0  83000.0          0  1.0  0.0
9        0  37.0  67000.0          1  0.0  0.0

In [12]:
X=data_set.iloc[:,[0,1,3]]
y=data_set.iloc[:,[2]]

Splitting The dataset into training set and testing set

In [13]:
#from sklearn.model_selection import train_test_split#for splitting arrays of the dataset tinto random train and test
#x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=42)
#x_train: features for the training data
#x_test:features for testing data
#y_train : dependent variables for traingning data
#y_test : independent variable for testing data
#train_test_spilt() we have passed four parameters in which 1st two are for arrays of data and test_size is for specifying the size od the test set. the test_size maybe .5,.3 or .2 ehich tells the dividing ratio of training and testing sets
# random_state : used to set a speed for a random generator so that you always get the same result and the most used value for this is 42
# 
from sklearn.model_selection import train_test_split

x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=0)

Feature Scaling (final step of data processing in ml)

In [ ]:
from sklearn.preprocessing import StandardScaler  
st_x= StandardScaler()  
x_train= st_x.fit_transform(x_train)  
x_test= st_x.transform(x_test)